<aside>
  <nx-sidebar class="my-sidebar" resizeable #sidebar>
    <button
      nxAction
      *ngFor="let action of actions"
      routerLink="./"
      [queryParams]="action.query"
      routerLinkActive="is-selected"
      type="button"

    >
      <nx-icon nxActionIcon [name]="action.icon"></nx-icon>
      {{ action.label }}
    </button>
  </nx-sidebar>
</aside>

<main>
  <h1>Welcome to hub!</h1>
  <button nxButton (click)="sidebar.toggle()" type="button">
    toggle expansion
  </button>
  <div>Message: {{ hello$ | async | json }}</div>

  <nav aria-label="Breadcrumb">
    <ol nxBreadcrumb>
      <li *ngFor="let item of dynamicCumbs; let i = index">
        <a nxBreadcrumbItem (click)="goToItem(i)" [routerLink]="item.link">
          {{item.name}}
        </a>
      </li>
    </ol>
  </nav>

  <section>
    <!-- <emx-forms></emx-forms> -->

    <emx-checkbox [formControl]="form" (checkedChange)="onCheckboxChange($event)">
      Another checkbox
    </emx-checkbox>

    <pre>value: {{ form.value | json }}</pre>

    <router-outlet></router-outlet>
  </section>
</main>
