<aside>
  <nx-sidebar class="my-sidebar" resizeable #sidebar>
    <button
      nxAction
      *ngFor="let action of actions"
      routerLink="./"
      [queryParams]="action.query"
      routerLinkActive="is-selected"
      type="button"
    >
      <nx-icon nxActionIcon [name]="action.icon"></nx-icon>
      {{ action.label }}
    </button>
  </nx-sidebar>
</aside>

<main>
  <h1>Welcome to hub!</h1>
  <button nxButton (click)="sidebar.toggle()" type="button">
    toggle expansion
  </button>
  <div>Message: {{ hello$ | async | json }}</div>

  <nav aria-label="Breadcrumb">
    <ol nxBreadcrumb>
      <li *ngFor="let item of dynamicCumbs; let i = index">
        <a nxBreadcrumbItem (click)="goToItem(i)" [routerLink]="item.link">
          {{ item.name }}
        </a>
      </li>
    </ol>
  </nav>

  <section>
    <!-- <emx-forms></emx-forms> -->

    <form [formGroup]="example">
      <div formArrayName="langs">
        <ng-container *ngFor="let lang of langs; index as i">
          <emx-checkbox [formControlName]="i" [value]="lang">
            {{ lang }}
          </emx-checkbox>
        </ng-container>
      </div>

      <emx-radio formControlName="radio">
        <emx-radio-option *ngFor="let c of choices" [value]="c.k">
          {{ c.v }}
        </emx-radio-option>
      </emx-radio>
    </form>

    <pre>value: {{ example.value | json }}</pre>

    <!-- <router-outlet></router-outlet> -->
  </section>
</main>
